{% extends 'base.html.twig' %}

{% block title %}Player index{% endblock %}

{% block body %}
    <section class="player">
        <h1>Liste des joueurs</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>DateOfBirth</th>
                    <th>Nationality</th>
                </tr>
            </thead>
            <tbody>
            {% for player in players %}
                <tr>
                    <td>{{ player.name }}</td>
                    <td>{{ player.dateOfBirth ? player.dateOfBirth|date('Y-m-d') : '' }}</td>
                    <td>{{ player.nationality }}</td>
                    <td>
                        <a class="btn btn-outline-primary" href="{{ path('player_show', {'id': player.id}) }}">show</a>
                        <a class="btn btn-outline-primary" href="{{ path('player_edit', {'id': player.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="12">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('player_new') }}">Create new</a>
    </section>
{% endblock %}
