{% extends 'base.html.twig' %}

{% block title %}New Player{% endblock %}

{% block body %}
    <section class="container">
        <h1 class"text-center">Recherche avancée</h1>
        
        {{ form_start(search_form) }}
            {{ form_widget(search_form) }}
            <button class="btn btn-outline-warning">{{ button_label|default('Rechercher') }}</button>
        {{ form_end(search_form) }}
        {% if app.request.method == 'POST' %}
        <h1>Liste des joueurs</h1>
            {% if players is empty %}
                <h2 class="text-center">Aucun résultat pour votre recherche</h2>
            {% else %}
            <table class="table text-white">
                <thead>
                    <tr>
                        <th>Nom du joueur</th>
                        <th>Date de naissance</th>
                        <th>Nationalité</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for player in players %}
                    <tr>
                        <td>{{ player.name }}</td>
                        <td>{{ player.dateOfBirth ? player.dateOfBirth|date('d/m/Y') : '' }}</td>
                        <td>{{ player.nationality }}</td>
                        <td>
                            <a class="btn btn-outline-warning" href="{{ path('player_show', { 'id' : player.id }) }}">Fiche du joueur</a>
                            <a class="btn btn-outline-warning" href="{{ path('player_stats', {'player': player.id}) }}">Stats du joueur</a>
                        </th>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% endif %}
        {% endif %}
        <div style="margin-top:30px">
            <a class="text-warning" href="{{ path('index') }}">Revenir à l'accueil</a>
        </div>
    </section>
{% endblock %}