{% extends 'base.html.twig' %}

{% block title %}Player{% endblock %}

{% block body %}
<section>
    <h1 class="text-center">{{ player.name }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Date de naissance</th>
                <td>{{ player.dateOfBirth ? player.dateOfBirth|date('d/m/Y') : '' }}</td>
            </tr>
            <tr>
                <th>Nationalité</th>
                <td>{{ player.nationality }}</td>
            </tr>
            <tr>
                <th>Club actuel</th>
                <td>{{ player.currentTeam }}</td>
            </tr>
            <tr>
                <th>Pied fort</th>
                <td>{{ player.bestFoot }}</td>
            </tr>
            <tr>
                <th>Taille</th>
                <td>{{ player.size }} cm</td>
            </tr>
            <tr>
                <th>Poids</th>
                <td>{{ player.weight }} kg</td>
            </tr>
            <tr>
                <th>Prix éstimé</th>
                <td>{{ player.price }} €</td>
            </tr>
            <tr>
                <th>Poste</th>
                <td>{{ player.position }}</td>
            </tr>
        </tbody>
    </table>
    <div>
        <a href="{{ path('player_index') }}">Retour à la liste</a>
    </div>
    <div>
        <a href="{{ path('index') }}">Retour à la l'accueil</a>
    </div>
    {% if app.user %}
    <div>
        <a href="{{ path('player_edit', {'id': player.id}) }}">Modifier</a>
    </div>
    {{ include('player/_delete_form.html.twig') }}
    {% endif %}
</section>
{% endblock %}
