{% extends 'base.html.twig' %}

{% block title %}Player{% endblock %}

{% block body %}
    <section>
        {% if playerStats.name is not empty %}
        <h1 class="text-center">Stats de {{ playerStats.name }}</h1>

        <table class="table">
            <tbody>
                <tr>
                    <th>Club actuel</th>
                    <td>{{ playerStats.current_team }}</td>
                </tr>
                
                <tr>
                    <th>Nombre de match(s) joué(s)</th>
                    <td>{{ playerStats.matchs }} match(s)</td>
                </tr>
                <tr>
                    <th>Temps de jeu</th>
                    <td>{{ playerStats.times }} minute(s)</td>
                </tr>
                <tr>
                    <th>But(s) marqué(s)</th>
                    <td>{{ playerStats.goals }} but(s)</td>
                </tr>
                <tr>
                    <th>Ratio but(s) par match</th>
                {% if playerStats.goals == 0 %}
                    <td>0 but par match </td>
                {% else %}
                    <td>{{ (playerStats.goals / playerStats.matchs)|round(2, 'floor') }} but(s) par match </td>
                {% endif %}
                </tr>
                <tr>
                    <th>Ratio but par minute(s)</th>
                {% if playerStats.goals == 0 %}
                    <td>0 but toutes les {{ playerStats.times }} minute(s)</td>
                {% else %}
                    <td>1 but toutes les {{ (playerStats.times // playerStats.goals) }} minute(s)</td>
                {% endif %}
                </tr>
                <tr>
                    <th>Passe(s) décisive(s)</th>
                    <td>{{ playerStats.assists }} passe(s) décisive(s)</td>
                </tr>
                <tr>
                    <th>Ratio passe(s) décisive(s) par match</th>
                {% if playerStats.assists == 0 %}
                    <td>0 passe décisive par match</td>
                {% else %}
                    <td>{{ (playerStats.assists / playerStats.matchs)|round(2, 'floor') }} passe(s) décisive(s) par match</td>
                {% endif %}
                </tr>
                <tr>
                    <th>Ratio passe décisive par minute(s)</th>
                {% if playerStats.assists == 0 %}
                    <td>0 passe décisive toutes les {{ playerStats.times }} minute(s)</td>
                {% else %}
                    <td>1 passe décisive toutes les {{ (playerStats.times // playerStats.assists) }} minute(s)</td>
                {% endif %}
                </tr>
                <tr><th><td></td></th></tr>
            {% else %}
                <h2 class="text-center">Ce joueur n'a pas encore de stats</h2>
            {% endif %}
            </tbody>
        </table>
        {% if app.user %}
        <div>
            <a href="{{ path('performance_new_player', {'player': player.id}) }}">Ajouter stats</a>
        </div>
        <div>
            <a href="{{ path('player_edit', {'id' : player.id}) }}">Modifier la fiche du joueur</a>
        </div>
        {% endif %}
        <div>
            <a href="{{ path('player_index') }}">Liste des joueurs</a>
        </div>
        <div>
            <a href="{{ path('index') }}">Revenir à l'accueil</a>
        </div>
    </section>

{% endblock %}
