{% extends 'base.html.twig' %}

{% block title %}Image index{% endblock %}

{% block body %}
    <section>
        <h1 class="text-center">Bibliothèque d'images</h1>
        <div class="card-deck">
        {% for image in images %}
            <div class="col-6 col-xl-3">
                <div class="card">
                    <img class="card-img-top" src="{{ asset ('/uploads/images/' ~ image.path) }}" alt="Card image cap">
                    <div class="card-body">
                        <h1 class="card-title d-flex justify-content-center fas">{{ image.name }}</h1>
                        <p class="card-text text-justify">{{ image.description }}</p>
                    </div>
                    {{ include('image/_delete_form.html.twig') }}
                </div>
            </div>
        {% else %}
            <h2 class="text-center">Aucune image trouvée</td>
        {% endfor %}
        </div>
        <a href="{{ path('image_new') }}">Ajouter une image</a>
    </section>
{% endblock %}
