{% extends 'base.html.twig' %}
{% block body %}
    <section class="index">
        <h1 class="text-center">Site de référencement des meilleurs joueurs de la planète</h1>
        <h2 class="text-center">Joueurs en forme</h2>
        {% for player in players %}
            {% if player.performance is not empty %}
                <a class="text-decoration-none text-dark" href="{{ path('player_stats', {'player': player.id}) }}">
            {% endif %}
            {% if loop.index is divisible by(2) %}
                
                <div class="index-card d-flex justify-content-around container">
                    <div class="display">
                        <h2 class="">{{ player.name }}</h2>
                        <h5>Date de naissance : {{ player.dateOfBirth ? player.dateOfBirth|date('d/m/Y') : '' }}</h5>
                        <h5>Nationalité : {{ player.nationality }}</h5>
                        <h5>Club actuel : {{ player.currentTeam }}</h5>
                        <h5>Pied fort : {{ player.bestFoot }}</h5>
                        <h5>Taille : {{ player.size }} cm</h5>
                        <h5>Poids : {{ player.weight }} kg</h5>
                        <h5>Prix éstimé : {{ player.price|number_format(null, null, '.') }} €</h5>
                        <h5>Poste : {{ player.position }}</h5>
                    </div>
                {% if player.poster is not empty %}
                    <div>
                        <img src="{{ asset ('/uploads/images/' ~ player.poster.path) }}" />
                        <h2 class="none text-center">{{ player.name }}</h2>
                    </div>
                {% else %}
                    <div class="">
                        <img src="{{ asset ('/uploads/images/anonyme.png') }}" />
                        <h2 class="none text-center">{{ player.name }}</h2>
                    </div>
                {% endif %}
                </div>
                </a>
            {% else %}
                <a class="text-decoration-none text-dark" href="{{ path('player_stats', {'player': player.id}) }}">
                <div class="index-card d-flex justify-content-around container">
                {% if player.poster is not empty %}
                    <div class="">
                        <img src="{{ asset ('/uploads/images/' ~ player.poster.path) }}" />
                        <h2 class="none text-center">{{ player.name }}</h2>
                    </div>
                {% else %}
                    <div class="">
                        <img src="{{ asset ('/uploads/images/anonyme.png') }}" />
                        <h2 class="none text-center">{{ player.name }}</h2>
                    </div>
                {% endif %}
                    <div class="display">
                        <h2 class="">{{ player.name }}</h2>
                        <h5>Date de naissance : {{ player.dateOfBirth ? player.dateOfBirth|date('d/m/Y') : '' }}</h5>
                        <h5>Nationalité : {{ player.nationality }}</h5>
                        <h5>Club actuel : {{ player.currentTeam }}</h5>
                        <h5>Pied fort : {{ player.bestFoot }}</h5>
                        <h5>Taille : {{ player.size }} cm</h5>
                        <h5>Poids : {{ player.weight }} kg</h5>
                        <h5>Prix éstimé : {{ player.price|number_format(null, null, '.') }} €</h5>
                        <h5>Poste : {{ player.position }}</h5>
                    </div>
                </div>
                </a>
            {% endif %}
        {% endfor %}
    </section>
{% endblock %}