{% extends 'base.html.twig' %}
{% block body %}
    <section class="index">
        <div class="container">
            <h1 class="title-home text-center font-italic">Site de référencement des meilleurs joueurs de la planète</h1>
        </div>
        <div class="container">
            <h2 class="title-home-2 text-center">Joueurs en forme</h2>
        </div>
        {% for player in players %}
            {% if loop.index is divisible by(2) %}
                <div class="index-card container">
                <a class="text-decoration-none d-flex justify-content-around text-dark" href="{{ path('player_stats', {'player': player.id}) }}">
                    <div class="display">
                        <h2 class="">{{ player.name }}</h2>
                        <h5>Date de naissance : {{ player.dateOfBirth ? player.dateOfBirth|date('d/m/Y') : '' }}</h5>
                        <h5>Nationalité : {{ player.nationality }}</h5>
                        <h5>Club actuel : {{ player.currentTeam }}</h5>
                        <h5>Pied fort : {{ player.bestFoot }}</h5>
                        <h5>Taille : {{ player.size }} cm</h5>
                        <h5>Poids : {{ player.weight }} kg</h5>
                        <h5>Prix éstimé : {{ player.price|number_format(null, null, '.') }} €</h5>
                        <h5>Poste : {{ player.position }}</h5>
                        <div>
                            <i class="fas fa-arrow-down fa-2x text-danger"> 0 but(s)</i>
                        </div>
                        <div>
                            <i class="fas fa-arrow-down fa-2x text-danger"> 0 passe(s)</i>
                        </div>
                        <div>
                            <i class="fas fa-equals fa-2x text-danger"> 0 passe(s)</i>
                        </div>
                    </div>
                {% if player.poster is not empty %}
                    <div>
                        <img src="{{ asset ('/uploads/images/' ~ player.poster.path) }}" />
                        <h2 class="none text-center">{{ player.name }}</h2>
                    </div>
                {% else %}
                    <div class="">
                        <img src="{{ asset ('/uploads/images/anonyme1.png') }}" />
                        <h2 class="none text-center">{{ player.name }}</h2>
                    </div>
                {% endif %}
                    </a>
                </div>
            {% else %}
                <div class="index-card container">
                    <a class="text-decoration-none d-flex justify-content-around text-dark" href="{{ path('player_stats', {'player': player.id}) }}">
                {% if player.poster is not empty %}
                    <div class="">
                        <img src="{{ asset ('/uploads/images/' ~ player.poster.path) }}" />
                        <h2 class="none text-center">{{ player.name }}</h2>
                    </div>
                {% else %}
                    <div class="">
                        <img src="{{ asset ('/uploads/images/anonyme1.png') }}" />
                        <h2 class="none text-center">{{ player.name }}</h2>
                    </div>
                {% endif %}
                    <div class="display">
                        <h2 class="">{{ player.name }}</h2>
                        <h5>Date de naissance : {{ player.dateOfBirth ? player.dateOfBirth|date('d/m/Y') : '' }}</h5>
                        <h5>Nationalité : {{ player.nationality }}</h5>
                        <h5>Club actuel : {{ player.currentTeam }}</h5>
                        <h5>Pied fort : {{ player.bestFoot }}</h5>
                        <h5>Taille : {{ player.size }} cm</h5>
                        <h5>Poids : {{ player.weight }} kg</h5>
                        <h5>Prix éstimé : {{ player.price|number_format(null, null, '.') }} €</h5>
                        <h5>Poste : {{ player.position }}</h5>
                        <div>
                            <i class="fas fa-arrow-up fa-2x text-success"> 5 but(s)</i>
                        </div>
                        <div>
                            <i class="fas fa-arrow-up fa-2x text-success"> 2 passe(s)</i>
                        </div>
                    </div>
                    </a>
                </div>
            {% endif %}
        {% endfor %}
    </section>
{% endblock %}