{% extends 'base.html.twig' %}
{% block body %}
    <section class="index">
        <h1 class="text-center">Site de referencement des meilleurs joueurs de la planete</h1>
        <h2 class="text-center">Joueurs en forme</h2>
        {% for player in players %}
            {% if loop.index is divisible by(2) %}
                <div class="index-card d-flex justify-content-around container">
                    <div class="">
                        <h2 class="">{{ player.name }}</h2>
                        <h5>{{ player.dateOfBirth ? player.dateOfBirth|date('Y-m-d') : '' }}</h5>
                        <h5>{{ player.nationality }}</h5>
                        <h5>{{ player.currentTeam }}</h5>
                        <h5>{{ player.bestFoot }}</h5>
                        <h5>{{ player.size }}</h5>
                        <h5>{{ player.weight }}</h5>
                        <h5>{{ player.price }}</h5>
                        <h5>{{ player.position }}</h5>
                    </div>
                {% if player.poster is not empty %}
                    <div>
                        <img src="{{ asset ('/uploads/images/' ~ player.poster.path) }}" />
                    </div>
                {% endif %}
                </div>
            {% else %}
                <div class="index-card d-flex justify-content-around container">
                {% if player.poster is not empty %}
                    <div class="">
                        <img src="{{ asset ('/uploads/images/' ~ player.poster.path) }}" />
                    </div>
                {% else %}
                    <div class="">
                        <img src="{{ asset ('/uploads/images/anonyme.png') }}" />
                    </div>
                {% endif %}
                    <div class="flex-start">
                        <h2 class="">{{ player.name }}</h2>
                        <h5>{{ player.dateOfBirth ? player.dateOfBirth|date('Y-m-d') : '' }}</h5>
                        <h5>{{ player.nationality }}</h5>
                        <h5>{{ player.currentTeam }}</h5>
                        <h5>{{ player.bestFoot }}</h5>
                        <h5>{{ player.size }}</h5>
                        <h5>{{ player.weight }}</h5>
                        <h5>{{ player.price }}</h5>
                        <h5>{{ player.position }}</h5>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        {% if app.request.method == 'POST' %}
        {% for player in searchPlayer %}
            {{ player.name }}
        {% endfor %}
        {% endif %}
    </section>
{% endblock %}