<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-info">
    <a class="navbar-brand" href="{{ path('index')}}">TAF</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('index')}}">Accueil<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Joueurs</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ path('search_player') }}">Recherche avancée</a>
                    <a class="dropdown-item" href="{{ path('player_index')}}">Liste des joueurs</a>
                    <div class="dropdown-divider">
                    </div>
                    <a class="dropdown-item" href="{{ path('player_new')}}">Ajouter un joueur</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Classement</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Buteurs</a>
                    <a class="dropdown-item" href="#">Passeurs</a>
                    <div class="dropdown-divider">
                    </div>
                    <a class="dropdown-item" href="#">Indice de performance</a>
                </div>
            </li>
            {% if app.user %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ path('player_new')}}">Ajouter un joueur</a>
                    <a class="dropdown-item" href="{{ path('image_new')}}">Ajouter une image</a>
                    <a class="dropdown-item" href="{{ path('performance_new')}}">Ajouter une video</a>
                    <a class="dropdown-item" href="{{ path('performance_new')}}">Ajouter des performances</a>
                    <a class="dropdown-item" href="{{ path('image_index')}}">Bibliothéque d'images</a>
                    <div class="dropdown-divider">
                    </div>
                    <a class="dropdown-item" href="{{ path('app_logout')}}">Se deconnecter</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Medias</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Vidéothèque</a>
                    <a class="dropdown-item" href="{{ path('image_index')}}">Bibliothéque d'images</a>
                </div>
            </li>
            {% endif %}
        </ul>
        
        <div class="d-inline-flex form-inline">
        {{ form_start(search) }}
            <div class="d-flex">
            {{ form_widget(search) }}
                <button class="btn btn-success" type="submit">Recherche</button>
            </div>
        {{ form_end(search) }}
        </div>
    </div>
</nav>