{% extends 'base.html.twig' %}
{% block body %}
    <section class="search">
        {% if searchPlayer is empty %}
            <h2 class="text-center">Aucun joueur trouvé !!!</h2>
        {% else %}
            <h2 class="text-center">Liste des joueurs trouvés !!</h1>
            <table class="table text-white">
                <thead>
                    <tr>
                        <th>Nom du joueur</th>
                        <th>Date de naissance</th>
                        <th>Nationalité</th>
                        <th>Actions</th>
                    </tr>
                </thead>
            {% for player in searchPlayer %}
                <tbody>
                    <tr>
                        <td>{{ player.name }}</td>
                        <td>{{ player.dateOfBirth ? player.dateOfBirth|date('d/m/Y') : '' }}</td>
                        <td>{{ player.nationality }}</td>
                        <td>
                            <a class="btn btn-outline-primary" href="{{ path('player_stats', {'player': player.id}) }}">Stats du joueur</a>
                            {% if app.user %}
                                <a class="btn btn-outline-primary" href="{{ path('performance_new_player', {'player': player.id}) }}">Ajouter stats</a>
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
            {% endfor %}
            </table>
        {% endif %}
    </section>
{% endblock %}