{% extends 'base.html.twig' %}

{% block title %}Performance index{% endblock %}

{% block body %}
    <section>
        <h1 class="text-center">Liste des performances</h1>

        <table class="table text-white">
            <thead>
                <tr>
                    <th>Nom du joueur</th>
                    <th>Saison</th>
                    <th>Passe(s) décisive(s)</th>
                    <th>But(s) marqué(s)</th>
                    <th>Temps de jeu</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for performance in performances %}
                <tr>
                    <td>{{ performance.player.name }}</td>
                    <td>{{ performance.saison }}</td>
                    <td>{{ performance.assist }}</td>
                    <td>{{ performance.goal }}</td>
                    <td>{{ performance.timePlayed }}</td>
                    <td>
                        <a class="btn btn-outline-warning" href="{{ path('performance_show', {'id': performance.id}) }}">Fiche</a>
                        <a class="btn btn-outline-warning" href="{{ path('performance_edit', {'id': performance.id}) }}">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">Aucune performances trouvées</td>
                </tr>
            {% endfor %} 
            </tbody>
        </table>

        <a class="text-warning" href="{{ path('performance_new') }}">Ajouter des performances</a>
    </section>
{% endblock %}
