{% extends 'base.html.twig' %}

{% block title %}Performance{% endblock %}

{% block body %}
    <section>
        <h1 class="text-center">Performance de {{ performance.player.name }}</h1>

        <table class="table">
            <tbody>
                <tr>
                    <th>Saison</th>
                    <td>{{ performance.saison }}</td>
                </tr>
                <tr>
                    <th>Passe(s) décisive(s)</th>
                    <td>{{ performance.assist }}</td>
                </tr>
                <tr>
                    <th>But(s) marqué(s)</th>
                    <td>{{ performance.goal }}</td>
                </tr>
                <tr>
                    <th>Temps de jeu</th>
                    <td>{{ performance.timePlayed }}</td>
                </tr>
            </tbody>
        </table>

        <a href="{{ path('performance_index') }}">retour à la liste</a>

        <a href="{{ path('performance_edit', {'id': performance.id}) }}">Modifier</a>

        {{ include('performance/_delete_form.html.twig') }}
    </section>
{% endblock %}
